body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.bg-pink{
  background-color: #9c27b0 !important;
}
header{
  padding: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a{
  font-size: 1.8rem;
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;
}
